body { margin: 0; font-family: Arial, sans-serif; }
.navbar { display: flex; justify-content: space-between; align-items: center; background: ; padding: 20px 100px; }
.logo { color: rgb(75, 68, 68); text-decoration: none; font-size: 30px; font-weight: bold; }
.menu-toggle { display: none; font-size: 27px; color: rgb(0, 0, 0); background: none; border: none; cursor: pointer; }
.nav-links { list-style: none; display: flex; gap: 20px; margin: 0; padding: 0; }
.nav-links a { color: rgb(119, 115, 115); text-decoration: none; font-size: 16px; }
.nav-links a:hover { color: #000000; }

@media (max-width: 768px) {
  .menu-toggle { display: block; }
  .nav-links { display: none; flex-direction: column; background: #000000; width: 100%; }
  .nav-links.open { display: flex; }
  .nav-links li { text-align: center; padding: 10px 0; }
}
body{
  image-rendering: ;
}
h1{
  color: rgb(232, 195, 195);
}
p{
  color: #ffffff;
}
h3{
  color: #ffffff;
}
  image{
    color: #ffffff;
  }
  
body {
    font-family: Arial;
    background-color: rgb(6, 0, 84);
}


.search-box {
    display: flex;
    justify-content: center;
    margin: 50px;
}

input {
    width: 350px;
    padding: 10px;
    font-size: 15px;
    border: 2px solid #000000;
    border-radius: 33px 0 0 30px;
    background: #232222;
}

button {
    padding: 10px 15px;
    border: 2px solid #000000;
    border-left: none;
    background: #232222;
    color: rgb(255, 254, 254);
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}

section {
    padding: 80px 20px;
    margin: 40px;
    background: white;
    border-radius: 10px;
}

  
